pyarrow
appnope
attrs
backcall
bleach
certifi
chardet
chart-studio
click
colorlover
cufflinks
decorator
defusedxml
dnspython
entrypoints
Flask
Flask-Cors
scipy
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
packaging
pandocfilters
parso
pexpect
pickleshare
plotly
prometheus-client
prompt-toolkit
ptyprocess
statsmodels
Pygments
pymongo
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
retrying
scikit-learn
sklearn
Send2Trash
six
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
xlrd
XlsxWriter
zipp
#ExifRead